table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 40%;
}
td{
  text-align: center;
}
th {
  height: 20px;
}
/* Style the navigation bar */
.navbar {
 width: 100%;
 background-color: #555;
 overflow: auto;
<<<<<<< HEAD
=======
 float: right;
>>>>>>> 9513e59d69e0fda8426c3216c79805c727514321
}

/* Navbar links */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
=======
  color: white;
  text-align: center;
  padding: 12px;
>>>>>>> c6f06d5c3717d82a0d3fa6f96fb973886d23e6c8
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
 background-color: #000;
}

/* Current/active navbar link */
.navbar a.active {
 background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
 .navbar a {
   float: none;
   display: block;
 }
=======
.hours {
  width: 100%;
  background-color: #555;
  text-align: right;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
