{% extends 'base.html' %}
{% block body %}



{% if form %}
  <form method="POST", action="">


    {{ form.csrf_token }}
    {{ form.MaterialID.label }} {{ form.MaterialID }}
    {{ form.Title.label }} {{ form.Title }
    {{ form.DateAdded.label }} {{ form.DateAdded }}
    {{ form.LastModified.label }} {{ form.LastModified }}
    {{ form.Genre.label }} {{ form.Genre }}
    {{ form.Author.label }} {{ form.Author }}
    {{ form.ISBN.label }} {{ form.ISBN }}

    <input type="submit" formaction="{{url_for('update_material', MaterialID=form.MaterialID)}}" value="Update">
    <input type="submit" formaction="{{url_for('delete_material', MaterialID=form.MaterialID)}}" value="Delete">



  </form>
{% endif %}
</div>
{% endblock %}
