{% extends 'base.html' %}
{% block body %}
<div>
  <br>
  <br>
  <br>
<p><a href="{{ url_for('index')}}">Home Page</a></p>
  <h3>Material Details</h3>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>

{% if form %}
  <form method="POST", action="">


    {{ form.csrf_token }}
    {{ form.MaterialID.label }} {{ form.MaterialID }}
    {{ form.Title.label }} {{ form.Title }} <br>
    {{ form.DateAdded.label }} {{ form.DateAdded }}<br>
    {{ form.LastModified.label }} {{ form.LastModified }}<br>
    {{ form.Genre.label }} {{ form.Genre }}<br>
    {{ form.Author.label }} {{ form.Author }}<br>
    {{ form.ISBN.label }} {{ form.ISBN }}<br>

    <input type="submit" formaction="{{url_for('update_material', MaterialID=form.MaterialID)}}" value="Update">
    <input type="submit" formaction="{{url_for('delete_material', MaterialID=form.MaterialID)}}" value="Delete">



  </form>
{% endif %}
</div>
{% endblock %}
