{% extends 'base.html' %}
{% block body %}

<br>
<br>
<br>
<p><a href="{{ url_for('index')}}">Home Page</a></p>
  <h3>Material Details</h3>

{% if form %}
  <form method="POST", action="">



    {{ form.csrf_token }}
    {{ form.PeopleID.label }} {{ form.PeopleID }}
    {{ form.FirstName.label }} {{ form.FirstName }}
    {{ form.LastName.label }} {{ form.LastName }}<br>
    {{ form.Birthdate.label }} {{ form.Birthdate }}<br>
    {{ form.Address.label }} {{ form.Address }}<br>
    {{ form.City.label }} {{ form.City }}<br>
    {{ form.State.label }} {{ form.State }}<br>
    {{ form.Zip.label }} {{ form.Zip }}<br>
    {{ form.PhoneNumber1.label }} {{ form.PhoneNumber1 }}<br>
    {{ form.PhoneNumber2.label }} {{ form.PhoneNumber2 }}<br>
    {{ form.Email.label }} {{ form.Email }}<br>

    <input type="submit" formaction="{{url_for('update_people', PeopleID=form.PeopleID)}}" value="Update">
    <input type="submit" formaction="{{url_for('delete_people', PeopleID=form.PeopleID)}}" value="Delete">


  </form>
{% endif %}
</div>
{% endblock %}
