{% extends 'base.html' %}
{% block body %}



  <h3>Update Checkout</h3>

  <form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.CheckoutID.label }}     {{ form.CheckoutID(size=5, readonly=true) }} <br>
    {{ form.PeopleID.label }}          {{ form.PeopleID(size=20) }}<br>
    {{ form.MaterialID.label }}      {{ form.MaterialID(size=20) }} <br>
    {{ form.Checkoutdate.label }}   {{ form.Checkoutdate(size=20) }} <br>
    {{ form.Datedue.label }}         {{ form.Datedue(size=20) }}<br>
    <br>
    <input type="submit" value="Save">

  </form>
</div>
{% endblock %}
