{% extends 'base.html' %}
{% block body %}
<div>
  <p><a href="{{ url_for('index')}}"> Home </a></p>

  <h3>{{ legend }}</h3>

  <form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.MaterialID.label }}     {{ form.MaterialID(size=5, readonly=true) }} <br>
    {{ form.Title.label }}          {{ form.Title(size=20) }}<br>
    {{ form.DateAdded.label }}      {{ form.DateAdded(size=20, readonly=true) }} <br>
    {{ form.LastModified.label }}   {{ form.LastModified(size=20, readonly=true) }} <br>
    {{ form.Genre.label }}         {{ form.Genre(size=20) }}<br>
    {{ form.Author.label }}         {{ form.Author(size=20) }}<br>
    {{ form.ISBN.label }}           {{ form.ISBN(size=20) }} <br>



    <input type="submit" value="Save">

  </form>

</div>
{% endblock %}
